@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins&display=swap");
:root {
  --fonte: "Poppins", sans-serif;
  --dark-blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}
